# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment
.env
.venv/
venv/
ENV/

# Mac or Windows
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Temporary files
*.pdf
*.docx
*.log
